.containerHero {
  min-height: 89.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 30, 57);
  color: white;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.contact-form > input {
  padding: 1rem 1.3rem;
  border: 2px solid #61dafb;
  width: 22.4rem;
  border-radius: 10px;
  outline: #61dafb;
}
.contact-form textarea {
  padding: 0 1rem;
  width: 22.4rem;
  border: 2px solid #61dafb;
  border-radius: 10px;
  outline: #61dafb;
}
.btnSubmit {
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.2s;
  border-radius: 10px;
  font-size: 1rem;
}

.btnSubmit:hover {
  background-color: rgb(27, 30, 57);
  border: 2px solid crimson;
  color: crimson;
  transform: scale(0.9);
}
@media screen and (max-width: 467px) {
  .contact-form > textarea {
    width: 15rem;
    font-size: 1rem;
  }
  .contact-form > input {
    width: 15rem;
    font-size: 1rem;
  }
}
